<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" Name="We Are One Installer" Language="1033" Version="1.0.0.0" Manufacturer="Your Elite Systems" UpgradeCode="a5027d95-4789-44b8-b301-9eae790bb71b">
        <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
        <MediaTemplate />
        <Feature Id="ProductFeature" Title="We Are One Installer" Level="1">
        </Feature>
        <UI />
    </Product>
</Wix>